# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Dados e Logs
data/
logs/
*.log

# Variáveis de ambiente
.env

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
